<section class="about" id="about">
    <div class="about-img">
        <img src="./assets/about.jpg" alt="">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>me</span></h2>
        <h3>MEAN Developer</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Accusamus dolores quisquam
            culpa maiores neque provident dolorum placeat quidem ea debitis dicta voluptatum
            similique tenetur earum minus velit modiinventore, quam odit recusandae consequatur? Eaque quam
            aperiam dicta. Omnis sed pariatur fugit corporis, reprehenderit voluptas dolor officiis?
        </p>
        <a href="#" class="btn">Read More</a>
    </div>

</section>