<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box" *ngFor="let ser of serArr">
            <i class='bx {{ser.icon}}'></i>
            <h3>{{ser.name}}</h3>
            <p>{{ser.dis}}</p>
            <a href="#" class="btn">Read More</a>
        </div>
        <!-- <div class="services-box">
            <i class='bx bxs-paint'></i>
            <h3>Graphic Desgin</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis numquam
                assumenda rerum, cumque hic ad dolore? Voluptas ipsa consequatur earum.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis numquam
                assumenda rerum, cumque hic ad dolore? Voluptas ipsa consequatur earum.
            </p>
            <a href="#" class="btn">Read More</a>
        </div> -->
    </div>
</section>